ENV_DATABASE_SERVER=
ENV_DATABASE_PORT=
ENV_DATABASE_NAME=
ENV_DATABASE_USER=
ENV_DATABASE_PWD=
ENV_DATABASE_SSL_MODE=
ENV_DATABASE_MAXPOOLSIZE=
ENV_FUSO_HORARIO=
ENV_DATABASE_URL=
ENV_PORT=
ENV_EXPIRES_IN=
ENV_NOME_IMAGEM=
ENV_URL_WHATSAPP=
ENV_LOCAL_WHATSAPP=
NODE_ENV=